body {
	padding: 60px 0 20px 0;
}

.clear {
	clear: both;
}

#findRouteProgress {
	display: none;
	font-style: italic;
}

#map {
	height: 500px;
}

.navbar-control {
	padding-top: 5px;
}

.label-offduty {
	background-color: #63878A;
}

.label-driving {
	background-color: #A8DBA8;
}

.label-onduty {
	background-color: #FF6B6B;
}

.label-sleeper {
	background-color: #0B486B;
}

.vehicle-enroute {
	color: #999;
	font-style: italic;
}

/* table cells */

#vehicle-form .cell-id {
	width: 45px;
}

#vehicle-form .cell-vehicle-type {
	width: 45px;
}

#vehicle-form .cell-vehicle-class {
	width: 45px;
}

#vehicle-form .cell-state {
	width: 90px;
}

.table td.cell-vehicle {
	width: 100px;
}

.table td.cell-actions {
	text-align: right;
}

/* table content */

.table .icon-remove  {
	cursor: pointer;
	opacity: 0.2;
}

.table .icon-remove:hover {
	opacity: 0.4;
}
